<h1>add devices</h1>
<form action="/add" method="POST">
  <div class="row">
    <div class="input-field">
      <input
        name="type"
        value=""
        id="deviceType"
        type="text"
        class="validate"
        required
      />
      <label class="active" for="first_name2">device type</label>
      <span
        class="helper-text"
        data-error="write a type"
        data-success="right"
      ></span>
    </div>
    <div class="input-field">
      <input
        name="price"
        value=""
        id="number"
        type="tel"
        class="validate"
        required
      />
      <label class="active" for="first_name2">device price</label>
      <span
        class="helper-text"
        data-error="write a price"
        data-success="right"
      ></span>
    </div>
    <div class="input-field">
      <input
        name="img"
        value=""
        id="image"
        type="text"
        class="validate"
        required
      />
      <label class="active" for="first_name2">device logo url</label>
      <span
        class="helper-text"
        data-error="add logo url"
        data-success="right"
      ></span>
    </div>
    <button class="btn btn-primary">Add device</button>
  </div>
</form>